[2020-05-25 16:33] MsXam opened #3 "Submission to appstore with this plugin complains that a deprecated UIWebView API is being used"
Hi - just testing out the plugin on both iOS and Android. In both versions - the plugin works perfectly. Tested in both Java/Kotlin built projects and also OBJ-C/Swift built projects.

I did have some issues with my app building properly in iOS and needed to POD install FBSDKCoreKit/LoginKit 7.0.0, then flutter clean and then build again...

Looking in podfile.lock, appears to use latest 7.0.0 API

[2020-05-26 07:53] greymag commented on #3
Hi! Thanks for the information, we take a look.

Can you please open Xcode project folder (`{your flutter project}/ios/`) in Terminal, execute `grep -r "UIWebView" .` and post output here?

[2020-05-26 16:16] greymag opened #5 "Method to get profile picture"
After login we need to have an ability to show user avatar in application

[2020-05-26 19:52] greymag commented on #3
I am just submit my application with facebook login in App Store and didn't get deprecated warning. Are you sure that the problem with plugin? Any chance it can be problem with some another feature? Can you do  `grep -r "UIWebView" . ` in project folder, as described above?

[2020-05-26 19:59] MsXam commented on #3
hey there !

You are absolutely right . **My bad** . It would appear that old facebook sdk was being referred in my podfile.lock file even though I was using your plugin. I removed the lock file, updated the pod cache , deintegrated pods, then did a complete pod install.

After I did this, I created an archive and submitted it. There was no warning this time.

Thank you so much - the plugin is per

[2020-05-27 07:43] greymag commented on #3
Happy to hear that!

Now we developing plugin for login via Vk.com. No plans about Twitter at the moment.

[2020-05-27 07:43] #3 closed

[2020-05-27 08:58] ycv005 opened #6 "Unable to send data via rest api"
I have a site where is login with fb is already implemented, now I am implementing in flutter app using this plugin. I can successfully login within app and token as well. But I am facing problem of sending this token to website over rest api. I am getting error. I am taken code from your example code. Below is my code-
[code]
Error- `_CastError (type 'FacebookAccessToken' is not a subtype of type

[2020-05-27 11:27] ycv005 commented on #6
I have also tried this-
[code]
But still getting Error- `
JsonUnsupportedObjectError (Converting object to an encodable object failed: Instance of 'FacebookAccessToken')`

[2020-05-27 11:43] ycv005 commented on #6
I have figured out, token is inside token variable(FacebookAccessToken instance).
`var tokenId = token.token;`

[2020-05-27 11:43] #6 closed

[2020-06-15 20:53] ycv005 opened #7 "method 'getUserEmail' isn't defined for the type 'FacebookLogin'."
- I have implemented the example code.
- I am not getting the error on other fields(like plugin.getUserProfile ) but I am only getting error on getUserEmail().
![image](https://user-images.githubusercontent.com/26734819/84704867-216dc600-af78-11ea-9e88-c46e55d7304e.png)

If you need more info, let me know.

[2020-06-15 21:12] ycv005 commented on #7
Ok, you bring this in new update. I have cross-check the  Facebook_login.dart.

[2020-06-15 21:12] #7 closed

[2020-06-19 18:00] ycv005 commented on #5
Hey, when you are going to add it. Thanks for the beautiful plugin.

[2020-06-20 05:49] greymag commented on #5
Hi. It will be released in a couple of days! Thanks for the feedback =)

[2020-06-21 06:56] greymag commented on #5
Added in v0.2.0

[2020-06-21 06:56] #5 closed

[2020-06-26 13:35] kfiross opened #10 "Support for Flutter web"
Hi, great project! Any thoughts on supporting Flutter web too?

[2020-06-28 14:25] phantalab opened #11 "Unable to logout from facebook"
Hi,

The code
`await widget.plugin.logOut();`
does not log the user out. (this code is taken from [link](https://pub.dev/packages/flutter_login_facebook#-example-tab-))

If I click on login button after clicking logout button, then a pop-up window appears for a second and I get the previous user automatically(i.e. it didn't logout the previous user).

I have noticed that if I log out from the Face

[2020-07-03 17:24] greymag commented on #10
Hi! Thanks for the feedback =) At that time we haven't plans for Flutter web support.

[2020-07-04 06:41] greymag commented on #11
Hi!

I think maybe we talking about different logouts =)

Let's see. There is a 3 different "log in/log out":
1. **User logged in Facebook social network.** That's not our area of responsibility - we can't log out from network itself.
2. **User allow our Facebook app to log in with**. When user is log in for the first time - he allows our Facebook application to use his account for log in and give

[2020-07-08 13:58] ram231 opened #13 "How to get UserAboutMe API after permission is enabled"
I've inspected the source code and found nothing about the **About Me** API. Is there plans on creating an `await fb.getUserAboutMe()` API?

[2020-07-08 15:41] greymag commented on #13
Hey!

The plugin is not initially for wide using Facebook SDK, it's just for login and get some basic information. Basic information - it's data, which Facebook provides in `Profile` instance ([FBSDKProfile.h](https://github.com/facebook/facebook-ios-sdk/blob/master/FBSDKCoreKit/FBSDKCoreKit/FBSDKProfile.h)).

We may change it in future, but for now it's not planned.

But you still can load any in

[2020-07-09 03:13] ram231 opened #14 "[Question] Valid OAuth Redirect URIs without using OAuth gives error"
I have followed the README and the article https://medium.com/@greymag/add-facebook-login-in-your-flutter-app-5172b034aa7d . But it seems facebook is giving me an error `Can't Load URL: The domain of this URL ins't included in the app's domains. To be able to load this URL, add all domains and subdomains of your app to the App Domains field in your app Settings`. I'm currently on my Mobile Data pl

[2020-07-09 03:55] ram231 commented on #14
![Screenshot_2020-07-09-11-52-44-07](https://user-images.githubusercontent.com/10434746/86995231-05f28580-c1db-11ea-9ef3-f5f59c9f441c.jpg)

[2020-07-09 06:06] ram231 commented on #14
I'll be closing this because I was using free data(philippines) and facebook didn't catch what it was.

[2020-07-09 06:06] #14 closed

[2020-07-10 07:16] ram231 opened #15 "[Question] About CI/CD Build for key hashes"
I don't understand what this meant

Do you have an example project(specifically in codemagic) that generates key hashes every build?

[2020-07-11 06:03] greymag commented on #15
Hi!

I'll try to explain.

Let's see:
1. When you (or CI/CD) builds application - Android SDK use some certificate to sing it.
2. You can explicitly provide certificate in your gradle script with property `storeFile` of `signingConfigs`. But mostly common you provide only release certificate, and for debug is used [auto generated certificate](https://developer.android.com/studio/publish/app-signin

[2020-07-11 06:04] #11 closed

[2020-07-16 04:47] AlainHsu opened #16 "[Question] How to interact with firebase_auth?"
Hi, i am using firebase auth in my flutter project, i am looking solution for facebook login. Can i use this plugin with firebase_auth?

BTW, i am very appreciate your Readme guide of the plugin, it's very helpful for me, thank you very much!

[2020-07-16 07:56] greymag commented on #16
Hi!

That's an interesting question =) I'm not familiar with Firebase Auth feature, but I have plans to look at it. So I will try to implement facebook login with firebase auth due next week.

[2020-07-17 08:07] AlainHsu opened #17 "Fackbook Login is currently unavailable for this app"
I got this error in the facebook login webpage, is there anything wrong with my facebook configuration?

![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-07-17 at 16 01 11](https://user-images.githubusercontent.com/13879077/87763181-f4e2ed80-c846-11ea-9c77-9a53e5d496d5.png)

[2020-07-17 09:01] greymag commented on #17
Hi. Looks like you didn't setup Facebook app. Check out this [article](https://medium.com/@greymag/add-facebook-login-in-your-flutter-app-5172b034aa7d)

[2020-07-17 09:12] #17 closed

[2020-07-18 21:54] diego-lipinski-de-castro commented on #16
Check this gist ive made https://gist.github.com/diego-lipinski-de-castro/c8af7ecbc49129d545f494cf1415a590

[2020-07-20 06:25] #15 closed

[2020-07-21 04:08] #16 closed

[2020-07-24 14:44] ycv005 opened #18 "Plugin only work when there is no FB app."
Hey, recently I have release my app on Play store and eariler before release, I was testing on my phone(with no FB app install) and now, my colleague are saying FB sign_in is not working.
And when I check into their phone, I found that the issue was because of the FB app. Then, I uninstall the FB app and after that FB sign_in was working. Following is the Error when sign_in was done when FB app wa

[2020-07-25 02:18] varundroid commented on #18
Did you add your colleagues as testers from your Facebook app dashboard?

[2020-07-25 02:38] varundroid opened #19 "Facebook SDK initialisation error"
Hi, thanks for this amazing plugin, really appreciate your contribution to the community.

I followed the setup instructions that were provided in readme, for iOS everything went smooth, no hiccups at all. But for Android, app is crashing with the following -

 `java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.app/com.example.app.MainActivity}: The SDK has not been in

[2020-07-25 06:02] ycv005 commented on #18
From FB dashboard, it is on Live, and only setup I have done in starting that was said in plugin's README/Installation guide. How to set it for live? But Again question arise that how it is working in my colleague after uninstalling FB app.

[2020-07-25 13:02] ycv005 commented on #18
Sorry for pinging you here, and thanks for creating great plugin. Do you have any idea- @greymag Thanks

[2020-07-25 13:42] ycv005 commented on #18
Ok, I found the solution, that is I need to add the release key hash of my app to the facebook developer.

[2020-07-25 13:42] #18 closed

[2020-07-27 06:15] greymag opened #20 "README improvements"
Need to be more clarify:

- Release hash key
- Add some information about testers of the app

See #18

[2020-07-27 07:08] greymag commented on #19
Hey!

You do not need to add the separate dependency in Android project. You only need to setup manifest and resources, as described in [Edit Your Resources and Manifest](https://github.com/Innim/flutter_login_facebook#edit-your-resources-and-manifest) section. Check if your missed `meta-data`:

[code]

or value of id in `string.xml`

[2020-07-29 01:15] varundroid commented on #19
Yup, I followed the given instructions on Android but as soon as I add the plugin to the project and run it on Android, I get gradle errors. I have put some time today to investigate this, will get back to you with my findings.

[2020-07-29 03:44] varundroid commented on #19
Hi, I reverted my branch and restarted the setup and to my surprise, it all went okay this time. Not sure what did I do wrong last time, but anyways, all good now. Thanks for helping me out.

[2020-07-29 03:44] #19 closed

[2020-07-30 12:40] godzeit opened #21 "IOS logIn by app not working"
flutter: 1.17.5
flutter_facebook_login: ^3.0.0

Facing this kinda problem with facebook logIn on IOS.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48680083/88923685-890f7480-d28b-11ea-809d-8cc21b8a3452.gif)

[2020-07-30 14:10] greymag commented on #21
Hey!

In the my app it's working well.

![](https://d.pr/i/EQSv7y+)

I think it could be a conflict with some another plugin. Maybe it's plugin for handle open app by url - for example uni_links or something else. Could you check the plugin on new empty project to confirm or disprove an assumption?

[2020-07-31 13:12] godzeit commented on #21
@greymag is it working okay on IOS 13? and did u also implimented vk and google in your example? Because I dont use uni_links. But I have:
google_sign_in: ^4.5.1
quick_actions: ^0.4.0+6
flutter_vk_sdk: ^0.1.0+3
flutter_login_facebook: ^0.2.0+1

[2020-07-31 13:31] greymag commented on #21
Yes, it's captured from iOS 13.

So, it's problem with flutter_vk_sdk =)
![](https://d.pr/i/niUvLJ+)

It's should be
[code]

Or you can use https://pub.dev/packages/flutter_login_vk and do not change `AppDelegate` at all

[2020-08-04 12:40] godzeit commented on #21
I found out it was not whole answer, but anyway thank you. If somebody will strugle please look there [https://github.com/darwin-morocho/flutter-facebook-auth/issues/6#issuecomment-624943909]

[2020-08-04 12:40] #21 closed

[2020-08-04 14:25] greymag commented on #21
Glad that you fix the issue! But I must say: adding code that works with `FBSDKCoreKit` in your `AppDelegate` - it's **bad** solution. Yes, it's working, but this not makes it better =)

I would recommend use https://pub.dev/packages/flutter_login_vk for login via VK, that doesn't have such problems.

[2020-08-04 16:08] godzeit commented on #21
@greymag can you please explain why it is bad solution?
By the way I did try to use your plugin, but faced a problem while migrating to flutterEmbedding v2. My app started freezing on android release mode on splash screen after migration.

[2020-08-05 07:36] greymag commented on #21
Here is my thoughts:
1. You write code in `application(_ app, open url, options)` which already written in plugin and in Facebook SDK implementation. Duplicating code **is bad**.
2. From my point of view plugin shouldn't require changes of `AppDelegate`, if it can be avoided. So if plugin force you to do it - it's **not good**.
3. If something will changes (for example SDK will updated) - you have

[2020-08-10 08:27] devolab commented on #20
Please note you have errors in your code example at the bottom:

1. accessToken has been declared twice
        // Send this access token to server for validation and auth
        final **accessToken** = res.accessToken;
        // Send access token to server for validation and auth
        final FacebookAccessToken **accessToken** = res.accessToken;

2. You use 'plugin' when is reality should be

[2020-08-10 08:39] greymag commented on #20
Thanks! Fixed =)

[2020-08-10 09:57] devolab opened #22 "Support Firebase Auth"
Hey guys, could you provide a version of your dependency to be used with Firebase Auth?
I'm using this code for Google SignIn and signout, but FB has different classes and methods and I'm not sure how to integrate with flutter.
Sorry, I've started with Flutter and Dart only for the past 4 weeks.

[code]

[2020-08-10 10:01] greymag commented on #22
Hey!
Check out this issue #16, does it resolve your problem?

[2020-08-10 10:25] devolab commented on #22
@greymag

Guys, you are superstars.
Your dependency and your prompt answers to my Firebase question have solved my FB problem in 1hour.
I've been trying to use other flutter FB dependencies and all f***ing failed.
Love it love it love it. Thanks a lot!

[2020-08-10 10:42] greymag commented on #22
Glad to hear it =))

[2020-08-10 10:42] #22 closed

[2020-08-10 13:16] devolab opened #23 "How to handle invalid access token on facebook"
hi guys,

I'm getting this error on Android
E/GraphResponse(15668): {HttpStatus: 400, errorCode: 190, subErrorCode: 460, errorType: OAuthException, errorMessage: Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.}

After a bit of investigation. ,I've found [this](https://developers.facebo

[2020-08-11 15:14] greymag commented on #23
Hey!

That's strange - I thought the native sdk handles this. I'll take a look.

[2020-08-11 16:15] dikiyPetr opened #24 "Android onActivityResult doesn't work in other plugins"
other facebook plugins (social_share_plugin) that use onActivityResult () can't get the result, because (flutter_login_facebook) override  this method

[2020-08-14 13:42] SecondStream commented on #24
Hello! We've checked your issue. social_share_plugin and flutter_login_facebook works fine together.

And `onActivityResult()` is handled too. I added to `SocialSharePlugin.onActivityResult()`:
`Log.d("SocialSharePlugin", requestCode + " " + resultCode + " " + data);`

In the log after share:

2020-08-14 16:41:46.383 3702-3702/ru.innim.flutter_login_facebook_example D/SocialSharePlugin: Sharing su

[2020-08-21 06:36] #24 closed

[2020-08-28 08:14] VenusCao opened #25 "Image url was redirected and cannot be displayed"

[2020-08-28 13:26] greymag commented on #25
Hey! Can you provide little more information? In which case that happens? Can you show the url that was redirected?

[2020-09-01 03:24] #25 closed

[2020-09-03 11:26] fxsalazar opened #26 "Expose the GraphAPI endpoint"
Couldn't be a good idea to expose a generic method to make request to the GraphAPI using the `GraphRequest`?

Primarily, this will let the managing of the token on the native SDK side; and because that any request has to be done with a token, which the login is already providing and holding, this will ease the implementation of other Facebook's non-existent components. ie. PagesAPI, EventsAPI, etc

[2020-09-03 14:59] greymag commented on #26
Hey!

The plugin purpose is just log in with Facebook account and get some basic information for displaying in the app. It was not intent to implement Graph API or another SDK methods. But if you implement it I'll be happy to accept your PR =)

Also anyone can implement methods for making requests to the GraphAPI as an extension method in their own project. Or just making graph api request with `h

[2020-09-04 13:26] fxsalazar commented on #26
How so?

I did my implementation using `http` and is working well. I just thought it could be a good idea to let the SDK handle that for the client.

I do agree that for the other SDKs, other packages should be created as they do.

[2020-09-04 19:29] junca8 opened #28 "No platform was specified cocoapods error"
I'm getting the following error when adding `flutter_login_facebook` to my pubspec.yaml:

[!] Automatically assigning platform `iOS` with version `8.0` on target `Runner` because no platform was specified. Please specify a
    platform for this target in your Podfile. See `https://guides.cocoapods.org/syntax/podfile.html#platform`.

After creating a new flutter project, the only change I made was

[2020-09-04 20:10] greymag commented on #28
Hey! Set minimum iOS to 9.0. It's required by iOS part of the plugin.

[2020-09-07 07:51] greymag commented on #26
https://dart.dev/guides/language/extension-methods

[2020-09-08 10:07] ram231 commented on #20
When My app gets published in the google play store. Do I need to enter my new key hash first before publishing it?

[2020-09-08 11:14] amitkhairnar44 commented on #10
Hi @greymag, may be you should take a look at this repo : https://github.com/kfiross/flutter_facebook_login_web
It's working perfectly and may be you can use that plugin in your plugin

[2020-09-08 11:18] greymag commented on #20
If you use [Google Play App Signing](https://support.google.com/googleplay/android-developer/answer/7384423) and do not add release certificate SHA-1 fingerprint from Google Play Console yet, than yes - you need to add it.

If you already done that after previous app uploads, then you don't need add a new key after publishing (i.e. when app goes public), because certificate doesn't change.

[2020-09-08 11:20] greymag commented on #10
Hi @amitkhairnar44! Thanks for the link, I'll take a look!

[2020-09-14 21:14] MeshkaniMohammad opened #29 "Why we should put FaceBookLogin object in the widget class?"
Hi.
I wanted to propagate  `final facebook = FacebookLogin(debug: true,)` with provider but seems we must put it in Widget class of Stateful widget to make it work.
Is there any reason?
Should I do anything to make it work in another place?

[2020-09-15 06:20] greymag commented on #29
Hi. You can put in any place you want. It's have just one limitation: if you create instance immediately on app run and you have `debug: true` - make sure you call `WidgetsFlutterBinding.ensureInitialized();`.

That needed because when we have `debug: true` - plugin trying to get FB SDK versions on creation. And this is required native code call, which fails if widget binding is not initialized.

[2020-09-15 15:13] shiwam77 opened #30 "PlatformException(INTERRUPTED, Waiting login result was been interrupted!, null)"
Getting following platform Exception error on emulator after clicking on continue .
![Screenshot_1600183039](https://user-images.githubusercontent.com/42408353/93229888-cf1a8c00-f796-11ea-8fed-8ee9acbd420a.png)
.Please guide how to resolve this.

[code]

[2020-09-15 15:17] greymag commented on #30
Hi!

Looks like you call login twice. You can't call login second time while first call is not complete.

[2020-09-15 15:35] 5hirish commented on #30
Hi @greymag thank you for responding. We are only calling it once, after a button click. What else could be the reason?

[2020-09-15 15:41] greymag commented on #30
Maybe your handler invokes another time when user tap "continue" in facebook window? Try to add prints right before calling `FacebookLogin.logIn` and see if it's actually called once. Because your stacktrace says that was a login call, while you writing that this error happens after you click "continue" (so it shouldn't be a login call).

[2020-09-15 16:04] shiwam77 commented on #30
Actually in physical devices , this page don't even appear.In emulator ,when we click on "contiue With facebook" button, this page appear then we click on  continue then it navigate us back again the "contiue With facebook" button  then again click on  "contiue With facebook" button then i got this stacktrace.

[2020-09-15 16:17] greymag commented on #30
Can you please send me a gif or a video of whole process?

[2020-09-15 16:34] shiwam77 commented on #30
Emulator:-

![ezgif com-optimize](https://user-images.githubusercontent.com/42408353/93238076-abf4da00-f7a0-11ea-9e4a-67ca41e0495d.gif)

In physical Device:-

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/42408353/93238616-671d7300-f7a1-11ea-86a2-898183d43c77.gif)

[2020-09-15 19:43] MeshkaniMohammad commented on #29
I tried to make it accessible with Provider and don't have logic inside widgets but i got ```no implementation found for sdkVersion``` error.

[2020-09-16 07:18] greymag commented on #29
Yes, that's what I wrote about - call `WidgetsFlutterBinding.ensureInitialized();` before it.

Or add facebook login an a lazy dependency in Provider.

[2020-09-16 07:23] greymag commented on #30
Oh, I see. Looks like your app does not handle intent from facebook.

Check your manifest and `strings.xml` https://github.com/Innim/flutter_login_facebook#edit-your-resources-and-manifest

If that ok - then check Facebook app settings https://github.com/Innim/flutter_login_facebook#setup-facebook-app

[2020-09-16 11:48] #29 closed

[2020-09-16 13:31] 5hirish commented on #30
Figured out the issue. This package requires:
[Upgrading pre 1.12 Android projects](https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects)

Please include this note in your ReadMe. Thanks!

[2020-10-01 09:54] shredding opened #31 "No Email on Android / Graph API"
I have problems accessing the email from the access token, both on the server side and on android. However, it does work on iOS.

I am following the plain example from your code and I can see in my facebook settings that the app has access to the email (and this is correct, as it works on iOS).

I digged into the iOS and Android code and can't spot the difference.

Is this a known problem?

[2020-10-09 15:31] HiroshiHorie opened #33 "Crashes when used with video_player plugin"
I found out that video_player package crashes with the following error
only when I use this package.

File: video_player_platform_interface-2.2.0/lib/messages.dart
[code]

I wasn't sure where to report this. But this only happens when i use flutter_login_facebook.

regards

[2020-10-09 15:40] greymag commented on #33
Hey!

Thanks for the report! I'll take a look.

[2020-10-10 05:17] HiroshiHorie commented on #33
@greymag
I like this plugin I hope there's a way to make it work. Even a work around.
Thanks!

[2020-10-13 06:12] greymag commented on #33
@HiroshiHorie
I can't reproduce the bug. Can you please help me with that:

- On what OS the problem happens: iOS, Android, both?
- In what moment you see the exception in log? Right on launch, or when you loading video, or when you try to play it, or maybe when you try to log in with Facebook?

And if you could provide a small example project with a problem (for example on the `example` project o

[2020-10-16 08:24] thanh-vinh opened #35 "'FBSDKCoreKit' has a minimum deployment target of iOS 11.0"
Build failed on iOS

[code]

My `Podfile.lock`

[code]

It works fine if changing `platform` to `11.0`  in `ios/flutter_login_facebook.podspec`

[code]

[2020-10-17 12:42] HiroshiHorie commented on #33
I appreciate the effort you looking into this. I'm having trouble to reproduce it also.
Might not be related to your plugin. I'm sorry in that case. I will close this until I collect more info. thanks!

[2020-10-17 12:42] #33 closed

[2020-10-20 06:03] greymag commented on #35
Hey!

Thanks for the report. Can you please try current [prerelease version](https://pub.dev/packages/flutter_login_facebook/versions/0.3.0-dev) and see if problem still here?

[2020-10-20 06:03] #28 closed

[2020-10-20 09:49] thanh-vinh commented on #35
Thanks. That problem has gone in the latest prerelease `0.3.0-dev`.

[2020-10-20 09:49] #35 closed

[2020-10-20 15:27] #13 closed

[2020-10-21 01:27] forgetabout opened #36 "No webview in version 0.3.0"
Worked out of the gate until version 0.3.0

Since version 0.3.0, the login process kicks off a device browser (instead of a dialog type webview in previous versions). After successfully logging in, the callbacks to cancel, success or error are not made and a popup is showed in the Chrome browser to leave the page. A black screen is the result.

Happens on Android device. I have seen other Facebook

[2020-10-21 05:05] greymag commented on #36
Hey!

Which Android version and device that problem happens? I just try it out on 3 different devices and all works well.

[2020-10-21 05:12] greymag commented on #31
Hey!

My apologies for such late answer. Is problem still relevant?

I'd try to reproduce the problem and I can't - I got email both on iOS and Android.

Try to enabled debug mode
[code]

and see log when you call `plugin.getUserEmail()`. What it says?

[2020-10-22 02:54] forgetabout commented on #36
Android 8.1. I have added a screencast for version 0.3.0 versus the previous version, no changes to anything in the code. Not sure what changed, but it works if I press 'Yes' when the browser asks me to view content in another app. I still prefer the layover behavior from the previous version since the user does not leave the app.

Old behavior (0.2.1): https://ln2.sync.com/dl/45747e080/kqqsyp8x-h

[2020-10-22 06:08] greymag commented on #36
Oh, I see. I had this window too. But I thinks it is a valid behaviour.

I don't really know why this behaviour changes after upgrade on new FB SDK, because the default `loginBehavior` remained as it was: `LoginBehavior.NATIVE_WITH_FALLBACK`. Looks like it's some internal facebook changes, and I think it's better to put up with it than fight against SDK evolution.

However, I can add settings to s

[2020-10-22 14:14] forgetabout commented on #36
Hi Greymag,

Thanks for your reply. No need to make any more changes. Just nw I logged in on GitHub Android, exactly same procedure. If they do it that way too, then it should be normal.

Thanks again!

[2020-10-22 14:20] #36 closed

[2020-10-26 11:27] #26 closed

[2020-12-10 06:12] ycv005 opened #38 "Fail to build Apk"
Hey, I am getting below error message when I am building apk-

command used- `flutter build apk --target-platform=android-arm64 --no-tree-shake-icons` or `flutter build apk --split-per-abi --no-tree-shake-icons`

version- `flutter_login_facebook 0.4.0+1`

[code]
Please let me know if you need more info.

[2020-12-10 11:49] #38 closed

[2020-12-10 15:29] greymag commented on #38
Hey!

@ycv005 can you please write about problem and how it was solved? In case if any who will face this problem in future.

[2020-12-10 16:57] ycv005 commented on #38
hey, I solved by following this -https://stackoverflow.com/questions/61493529/how-to-fix-processorlistfile-does-not-exist-when-building-appbundle-in-flutte

[2020-12-14 11:29] SametSahin10 opened #39 "Cannot run the example project."
I've tried to clone the package and run the example project but I've failed to do so. Below is the error I get:

[code]

Output of `flutter doctor -v`

[code]

[2020-12-15 15:19] greymag commented on #39
Hey!

I'm not sure what is the reason of this error. I just cloned the repository and run the example - it's all working.

Do you have this error when launch on simulator or device only?

Try to remove `/example/ios/Podfile` and run again, something change?

[2020-12-16 10:43] SametSahin10 commented on #39
This happens both when I try to run the app on Simulator and a physical device. Also the `flutter build ios` command fails too. My coworker has the repository locally and he doesn't have any problems running the project. The environment on my computer and his is almost the exact same. Same Flutter version, Xcode version, packages etc. There's just one thing, I get

`[!] The 'Pods-Runner' target ha

[2020-12-16 12:39] SametSahin10 commented on #39
I'm not sure why but I've solved it by removing the `ios` directory and recreating it using `flutter create .`. Apparently the issue was related to something about my environment.

[2020-12-16 12:39] #39 closed

[2021-01-05 08:06] greymag commented on #31
Since there are no more complains about getting email, I am close that issue. If anyone face the problem again - feel free to reopen it.

[2021-01-05 08:06] #31 closed

[2021-01-11 14:52] HiroshiHorie opened #41 "await logIn() doesn't complete when dialog dismissed on iPad"
Hello i don't have issues on the phones but
on iPad the FB SDK shows a dialog instead of full screen.

When user taps on the outside area of the dialog, the dialog dismisses but
the logIn method doesn't return and is stuck.

Tapping on the Cancel button works. But we should support the case that user will
tap on the outside of the dialog to dismiss.

Regards
Hiroshi

[2021-01-11 15:03] HiroshiHorie commented on #41
Looks like related to
https://github.com/facebook/facebook-ios-sdk/issues/1516

[2021-01-12 15:37] greymag commented on #41
Hey! Looks like the truth. I'll take a look, may be solution from the issue would be helpful.

[2021-01-13 05:09] HiroshiHorie commented on #41
@greymag Thanks! My attempt failed....

[2021-03-09 03:30] yusriltakeuchi opened #42 "can you update this to null safety?"
That's great thing if you plan to support null safety, because we need this

[2021-03-09 07:13] greymag commented on #42
Hey! It's already has null safety support in [pre-release version](https://pub.dev/packages/flutter_login_facebook/versions/1.0.0-nullsafety.1). And in the next couple of day I will make it stable.

[2021-03-09 16:05] #42 closed

[2021-03-23 23:18] MuhammadHassanRazaa opened #44 "Facebook Logout Issue"
Facebook is not logging out properly even after clicking the logout button. I have used the following code:
[code]

I have also tried deleting the user from the firebase account, but when I clicked on the SIgn in button again, it added the same user in firebase. I guess it is because I have the Facebook app installed on my phone, I have tried deleting the Facebook app and it worked properly.

P.S

[2021-03-24 09:36] greymag commented on #44
Hey! What exactly do you mean by "not logging out properly"?

Also, please check out my answer in similar issue  https://github.com/Innim/flutter_login_facebook/issues/11#issuecomment-653729451

[2021-04-01 15:53] greymag commented on #44
No answer, so I assume that problem are resolved and close the issue.

[2021-04-01 15:53] #44 closed

[2021-04-15 09:59] developerflutter opened #45 "SharedPreference not working with this package?"
SharedPreference not working with this package! any solution?

[2021-04-15 10:58] greymag commented on #45
Hey! I'm using shared_preferences and this package in several my projects - it's all working. Can you please describe what is not working? Which error you get? Which versions of the packages you use? If you can reproduce the issue on example project - it will be great!

[2021-04-15 11:29] developerflutter commented on #45
I am using shared_preferences: ^2.0.5 , flutter_login_facebook: ^1.0.1.

Getting error as MissingPluginException (MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences))

[2021-04-15 15:15] greymag commented on #45
Thanks for the answer!

I just add dependency of `shared_preferences: ^2.0.5` in example project and SharedPreference is working. I think it's more complicated problem. Maybe there is an exception in plugin registration - can you check out the logcat for any error messages on start?

Also is this error happens both iOS and Android or only on specific platform?

[2021-04-20 04:29] AasharWahla commented on #45
I am also facing this error, and it is only specific to android. Working best for iOS.
I am trying to use it with google_sign_in ^5.0.2
And the error is the same as given above.

[2021-04-20 04:43] AasharWahla commented on #45
`MissingPluginException(No implementation found for method init on channel plugins.flutter.io/google_sign_in)`
This is the error, I am facing. The app works fine if I remove flutter_login_facebook plugin.

[2021-04-20 05:58] greymag commented on #45
Hey @AasharWahla! Thanks for the report. Same question: can you check out the logcat for any error messages on start?

The deal is that error most likely just a result of some exception during plugin registration process on app launch.

[2021-04-20 06:00] AasharWahla commented on #45
can you tell me how to check logcat?

[2021-04-20 07:45] greymag commented on #45
If you use Android Studio you should have a tab at the bottom
![](https://d.pr/i/rJIGgi+)

Or you can use command line tool https://developer.android.com/studio/command-line/logcat

[2021-04-23 01:54] fleoparra commented on #45
Hi, I had a similar problem, but with another library (google_mobile_ads) the error that logcat show was:
I/FacebookInitProvider: Failed to auto initialize the Facebook SDK
    A valid Facebook app id must be set in the AndroidManifest.xml or set by calling FacebookSdk.setApplicationId before initializing the sdk.

After put facebook app id the problem was solved.

[2021-04-23 06:51] greymag commented on #45
Hey! Thank to figure it out. That's correct - you **must** add ID in your manifest. It's in [README](https://github.com/Innim/flutter_login_facebook#edit-your-resources-and-manifest).

@AasharWahla @developerflutter is that your case too?

It's not weird =) There are an exception during app start up, which interrupts plugins registration process. This exception thrown by Facebook SDK and informs y

[2021-05-06 21:27] SametSahin10 commented on #23
Any updates on this? @greymag

[2021-05-12 13:07] greymag commented on #23
@SametSahin10 sorry, I was busy and still don't and still haven't looked at what's the matter. Did you getting such error too?

[2021-05-13 01:35] Shahmirzali-Huseynov opened #46 "facebook invalid key hash"
![kFasB](https://user-images.githubusercontent.com/49102327/118064877-f6207080-b3ac-11eb-95a8-17f4b5ba7c37.jpeg)

how can i solve this problem?

[2021-05-13 06:02] greymag commented on #46
Hey. You didn't add key hash in Facebook App Settings. See [README](https://github.com/Innim/flutter_login_facebook#setup-facebook-app), Step 6 in Android setup section.

[2021-05-13 06:02] #46 closed

[2021-05-18 15:40] desmeit opened #47 "AX Lookup problem"
I get the following error:

`[AXRuntimeCommon] Unknown client: Runner
[tcp] tcp_input [C8.1:3] flags=[R] seq=1710933642, ack=0, win=0 state=CLOSED rcv_nxt=1710933642, snd_una=2129208749
[tcp] tcp_input [C8.1:3] flags=[R] seq=1710933642, ack=0, win=0 state=CLOSED rcv_nxt=1710933642, snd_una=2129208749
[AXRuntimeCommon] AX Lookup problem - errorCode:1100 error:Permission denied portName:'com.apple.i

[2021-05-20 07:41] greymag commented on #47
Hey!  Is that problem only with facebook login, or with any request?

I'm not much in native iOS development, so i'm not sure what is that error about.

[2021-05-26 13:11] aperezhra opened #48 "Unable to login with a differente account after logout"
I'm trying to login with a different facebook account after logging out, but every time I Login, the logIn method asks to continue with the previous logged in user, without asking for credentials of credentials, not even for the previously logged in user.

The accessToken hasCode is different before and after loguOut, but the app always tries to re-login with the same account.

The only way for me

[2021-05-26 13:13] aperezhra commented on #44
I opened a new issue for this same logout scenario.

https://github.com/Innim/flutter_login_facebook/issues/48

[2021-05-26 15:12] greymag commented on #48
Hey! Are you sure that is plugin problem? Looks like a Facebook SDK behaviour.

[2021-05-26 17:49] aperezhra commented on #48
Hi. Well, I'm not sure. I don't have enough FB SDK experience to know it from the top of my head.

It's just curious and annoying the fact that a "logOut" action is not completely logging out - Based on the fact that a new login request:

1. Does not ask for user entry.
2. If you click continue, it logs you right back in without prompting for a any credentials.

Unless there's something I'm doing

[2021-05-27 00:53] aperezhra opened #49 "Facebook photoURL not rendering properly after Firebase signInWithCredential (AuthCredential/UserCredential)"
After logging in on Firebase using a Facebook AuthCredential obtained from a Facebook Token, the UserCredential's photoURL generates an incorrect URL that would not render a proper profile picture from Facebook.

Would this be a plugin bug? How can I confirm where in the process is the photoURL being set incorrectly?

[code]

Console output
[code]

The workaround is to capture the correct URL from

[2021-05-27 06:31] greymag commented on #49
Hey!

As I see - `getProfileImageUrl()` returns a correct result. Honestly, I have no idea what is Firebase user instance returns =) Why you think that this is the plugin problem?

[2021-05-27 14:12] aperezhra commented on #49
This used to work in previous versions of both Facebook and Firebase plugins.

There’s a generic implementation pattern to use Firebase as a some sort of credential store than creates the profiles based on the information provided by plugins as Facebook/Google/AppleId/etc.
This profiles are created using the information from the individual authentication providers.

[2021-05-27 19:22] greymag commented on #49
Looks like a bug in firebase plugin https://github.com/FirebaseExtended/flutterfire/issues/3839

[2021-05-31 16:11] jaasaria commented on #48
got the same issue here.

[2021-05-31 21:19] aperezhra commented on #48
I edited/updated the Log Trace above.

Still getting the same response, not being able to login with a different account nor being able to enter credentials again.

[2021-06-01 13:32] #49 closed

[2021-06-01 20:42] aperezhra commented on #49
Hello Folks!
Do you have any workaround for this?

I have a use case where I update firebase user's photoURL with the Facebook tokenized profile photo, but these changes are not reflected to my User stream until the next time log back in.

Please help.

[2021-06-02 06:04] greymag commented on #49
Sorry, I'm not familiar with Firebase plugin, so I don't know how to update profile photo in their User stream properly.

[2021-06-08 10:26] zhukeev commented on #48
Have you guys found a solution ?

[2021-06-11 16:07] zeevgrim commented on #45
fix with -

Open your /android/app/src/main/res/values/strings.xml file, or create one if it doesn't exists.
Add the following (replace {your-app-id} with your facebook app Id):
[code]
Here one example of strings.xml:
[code]

Open the /android/app/src/main/AndroidManifest.xml file.

Add the following uses-permission element after the application element

`<uses-permission android:name="android.per

[2021-06-12 08:27] greymag commented on #45
Yep, that's all in [README](https://github.com/Innim/flutter_login_facebook#edit-your-resources-and-manifest). Just follow instructions when you adding Facebook Logins support and there will be no problems.

[2021-06-12 08:27] #45 closed

[2021-06-12 08:37] greymag opened #50 "README: Problems solving section"
Add information in README how to fix situation when developer can get `MissingPluginException` after adding this package.

See #45

[2021-06-16 08:26] vytautas-pranskunas- opened #51 "login dialog is not showing"
I took code from an example but login dialog does not come up

[code]

just nothing happens...

[2021-06-16 11:42] greymag commented on #48
This is expected behaviour from Facebook
https://github.com/facebook/facebook-ios-sdk/issues/1513

This is a little weird, but the most of users have just one Facebook account, so it's ok for them.

I'm closing this issue, because nothing we can do about it.

[2021-06-16 11:42] #48 closed

[2021-06-16 12:39] aperezhra commented on #48
Hello graymag, I understand your explaining about most users having one single account. But what about the huge security problem that this same “expected behavior” exposes by not even requesting the credentials of the  same user account after logging out? Is this also expected behavior?

How is this plug-in going to document this known security issue if to the users if the bug just gets closed out

[2021-06-16 13:08] greymag commented on #48
Hello @aperezhra!

When you "log out" in your app - you just clear current token (and session). But you doesn't logout from user's Facebook account. And yes, if user are logged in with his Facebook account, then he doesn't need to enter pass again.

If user want to logout from Facebook - he need to log out in Safari/Chrome/Facebook app and that credentials will be requested.

I don't think this is

[2021-06-16 13:46] greymag commented on #51
Hello. Is any error in console or logcat?
Did you follow instructions in [README](https://github.com/Innim/flutter_login_facebook/blob/master/README.md) on setup application?

[2021-06-16 14:04] vytautas-pranskunas- commented on #51
No there i sno error.
Yes i followed instructions (partially because ostly intructions are same).
I have another plugin working (before that i had one more which is deprectaed now) and all works ok, But plugin that i am using is doing webview reidrect so i was willing to try yours hoping that you are showing modal.
Currently I am using this: https://pub.dev/packages/flutter_facebook_auth

[2021-06-20 09:35] dmvvilela opened #52 "Won't compile for iOS"
I am using latest version and it won´t compile on iOS.

Errors:

/pub.dartlang.org/flutter_login_facebook-1.0.1/ios/Classes/SwiftFlutterLoginFacebookPlugin.swift:178:61: Type 'Profile' has no member 'PictureMode'

/pub.dartlang.org/flutter_login_facebook-1.0.1/ios/Classes/SwiftFlutterLoginFacebookPlugin.swift:199:11: Extra trailing closure passed in call

/pub.dartlang.org/flutter_login_facebook-1

[2021-06-21 15:26] greymag commented on #52
Hey! Please, share what's in your `/ios/Podfile.lock`

[2021-06-21 17:41] dmvvilela commented on #52
`PODS:
  - abseil/algorithm (0.20200225.0):
    - abseil/algorithm/algorithm (= 0.20200225.0)
    - abseil/algorithm/container (= 0.20200225.0)
  - abseil/algorithm/algorithm (0.20200225.0):
    - abseil/base/config
  - abseil/algorithm/container (0.20200225.0):
    - abseil/algorithm/algorithm
    - abseil/base/core_headers
    - abseil/meta/type_traits
  - abseil/base (0.20200225.0):
    - absei

[2021-06-22 15:29] greymag commented on #52
Thanks for the additional info! Podfile looks OK. I just did compile an example app with exactly this versions of the dependencies. Did you try to run `flutter clean`? "Build -> Clean" in Xcode?

If you are and it doesn't help, can you please try to compile current version of example app from this repo and tell me if it works or not.

[2021-06-22 19:25] dmvvilela commented on #52
Strange.. the example app actually compiled. I did flutter clean and also tried build -> clean on x-code

[2021-06-26 14:32] dmvvilela commented on #52
I created another project and everything worked fine. It must be some config problem, mas project was very old (before flutter 1.0)

[2021-06-26 14:32] #52 closed

[2021-07-11 10:48] ravdeepsingh22 opened #53 "[ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: MissingPluginException(No implementation found for method getApplicationDocumentsDirectory on channel plugins.flutter.io/path_provider)"
By adding flutter_login_facebook: ^1.0.1 , the following dependencies stop working and throw a similar error

[ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: MissingPluginException(No implementation found for method getApplicationDocumentsDirectory on channel plugins.flutter.io/path_provider)

Effected dependencies
path_provider: ^2.0.2
sqflite
moor_flutter: ^4.0.0

[2021-07-12 06:33] greymag commented on #53
Hey! Most likely you didn't set up your application correctly. Check out [README](https://github.com/Innim/flutter_login_facebook#edit-your-resources-and-manifest).

Also see #45

Please let me know if that helps or not.

[2021-07-30 06:50] greymag commented on #53
No feedback, so I'm closing it.

[2021-07-30 06:50] #53 closed

[2021-08-30 08:27] lizhuoyuan opened #54 "Could not build the precompiled application for the device."
flutter_login_facebook: ^1.1.0
 flutter : 2.2.3

<img width="318" alt="wecom-temp-0a12184f5937dfa255ec5baff640e607" src="https://user-images.githubusercontent.com/15923901/131309973-db0c2677-9965-4012-8bdf-0332efab2ad9.png">

The following is the log：
Launching lib/main.dart on iPhone in debug mode...
Automatically signing iOS for device deployment using specified development team in Xcode project

[2021-08-30 15:20] greymag commented on #54
Hey! Try to:
- `flutter clean`
- Remove `ios/Podfile.lock`
- run app again

[2021-08-31 06:58] lizhuoyuan commented on #54
Thank you, I tried these operations yesterday, but they didn't work.
Then I fork another project: flutter_faceboo_login.

Now that my requirements are met, I will close this issue first

[2021-09-02 15:25] greymag commented on #51
@Sergioc013 any messages in logcat?

[2021-09-02 23:39] Sergioc013 commented on #51
@greymag None

[2021-09-08 21:34] Sergioc013 commented on #18
Hi @ycv005 , I am getting the same problem. Could you please explain to me, how to generate the hash keys? Thanks

[2021-09-09 06:04] greymag commented on #18
@Sergioc013 See [README](https://github.com/Innim/flutter_login_facebook#setup-facebook-app) and follow by links to [documentation](https://developers.facebook.com/docs/facebook-login/android?locale=en_US#6--provide-the-development-and-release-key-hashes-for-your-app).

[2021-09-09 14:46] Sergioc013 commented on #18
@greymag Hi, thanks for your response. I followed the documentation but it still does not work, I added the debug and release hash keys but I still get the same message as seen in the screenshot that @ycv005 attached. I get the same behavior, if I uninstall it the Facebook app works correctly, however, as soon as I install it it stops working.

[2021-09-09 15:08] greymag commented on #18
Do you have this behaviour when you install debug version of your app or only when you install from Google Play?

[2021-09-10 14:37] Sergioc013 commented on #18
@greymag  Yes, the error was in debugging and also when I installed it from Google Play, I was able to fix it with the hash keys. I generated hash keys with the command available for linux

echo "{sha1key}" | xxd -r -p | openssl base64

When I did it with the command that the documentation offers for windows, the generated hash keys did not work.

However, now when I tap the Login button with Face

[2021-09-11 15:45] ycv005 commented on #18
Link- https://medium.com/@akashmahali/facebook-login-google-sign-in-not-working-on-android-app-in-production-5febd9537f92
https://medium.com/mindorks/generate-hash-key-for-facebook-and-sha-1-key-for-google-maps-in-android-studio-48d92e4f3c05
@greymag Hope this will help or other upcoming visitor.

[2021-09-15 04:26] VKBobyr commented on #23
@devolab Did you ever fix it?

[2021-09-15 08:46] greymag commented on #23
Hey! What do you suggest to fix/implement on package side in this case? If token has become invalid - you should offer user to log in again. It's should be done on app side - only your app knows when it's appropriate to show login dialog to user, and you still need to handle error if user cancels an auth. Any suggestions?

[2021-09-15 23:06] VKBobyr commented on #23
It's weird in the sense that the user is logged out.
I've even tried calling it like this:

[code]

But it's still showing the error reported by OP.

This issue only happens on android (not sure how common). I'm able to sign in on an iOS device with the same account with absolutely no problem!

Another interesting point is that I've actually tried to use another Facebook login package and it outpu

[2021-10-12 13:44] fantasma10 opened #55 "Error login"
Starting with v13 of the SDK, a client token must be embedded in your client code before making Graph API calls. Visit https://developers.facebook.com/docs/android/getting-started#client-token to learn how to implement this change.

[2021-10-15 14:08] KirillArtemenko opened #56 "Please raise the Facebook SDK for iOS to 12.0."
Facebook request update SDK to v12.0 and showing warning sigh near iOS API version.

[2021-10-16 02:23] kali2rk opened #57 "plugin to the V2 embedding"
The plugins `flutter_facebook_login,  use a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if these plugins support the Android V2 embedding. Otherwise, consider removing them since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the plugin to the

[2021-10-19 14:04] #57 closed, assigned to nobody

[2021-10-27 15:46] #56 closed, assigned to nobody

[2021-11-18 09:37] keshavbhusal1 opened #58 "Unhandled Exception: 'package:flutter_login_facebook/src/facebook_login.dart'"
Unhandled Exception: 'package:flutter_login_facebook/src/facebook_login.dart': Failed assertion: line 163 pos 12: 'Platform.isAndroid': is not true.

This is issue found in IOS Device(Iphone)

[2021-11-18 11:26] greymag commented on #58
Hey!
You can't use `expressLogin` on iOS, it's Android option. See method's [documentation](https://github.com/Innim/flutter_login_facebook/blob/e9194ba65516bc90405c0a48f3116cfa680f5ac8/lib/src/facebook_login.dart#L156)

[2021-11-18 22:44] tomassasovsky opened #59 "Use of deprecated API - Android"
Note: C:\Users\Tomas\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\flutter_login_facebook-1.2.0\android\src\main\java\ru\innim\flutter_login_facebook\FlutterLoginFacebookPlugin.java uses or overrides a deprecated API.

[2021-11-21 08:53] keshavbhusal1 opened #60 "Starting with v13 of the SDK"
Starting with v13 of the SDK, a client token must be embedded in your client code before making Graph API calls. Visit https://developers.facebook.com/docs/android/getting-started#client-token to learn how to implement this change.

Why every time show this warning.

[2021-11-21 08:55] keshavbhusal1 commented on #58
Thank you @graymag

[2021-11-21 08:55] keshavbhusal1 commented on #58
Thank you @greymag

[2021-11-21 08:56] #58 closed

[2021-11-23 15:10] greymag commented on #60
Hey!

This is just an information, that intended to force developers migrate their application beforehand:

You can add Client Token as described in [documentation](https://developers.facebook.com/docs/android/getting-started#app_id).

I will update package readme soon.

[2021-12-01 08:48] #60 closed

[2021-12-01 11:14] keshavbhusal1 opened #61 "invalid result on get email"
My ios App get this error
Get user email error: PlatformException(UNKNOWN, Invalid result on get email: (Function), null, null)

    var login = await facebookLogin.logIn(permissions: [
      FacebookPermission.publicProfile,
      FacebookPermission.email,
    ]);

    if (Platform.isAndroid) {
      login = await facebookLogin.expressLogin();
    }
    switch (login.status) {
      case Facebook

[2021-12-12 04:58] Md-Abdul-Halim-Rafi opened #64 "Set multiple application ID dynamically"
Since we might need multiple ids for some applications. Like I want to authenticate users with one Facebook application, and want to connect users' Facebook/Instagram business pages in another Facebook application. So, in this case, I need to set the application ID dynamically.

#63 I tried to add this feature for now only for android.

[2021-12-18 00:00] grover702 opened #65 "No method to get uploaded or tagged photos of the user when logged in successfully"

[2021-12-30 07:39] mahes-waran opened #67 "The plugins `flutter_facebook_login, media_picker` use a deprecated version of the Android embedding"
The plugins `flutter_facebook_login, media_picker` use a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if these plugins support the Android V2
embedding. Otherwise, consider removing them since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the p

[2022-01-14 10:31] YuliyaKarima opened #68 "In new session method isLoggedIn returns false, because access token is null"
After sucessfull login, isLoggedIn returns true, but in the in subsequent sessions await isLoggedIn() returns false and access token is null

[2022-01-19 14:46] greymag commented on #68
Hey! Is this behaviour stable?  On which platform?

[2022-01-20 11:01] YuliyaKarima commented on #68
Hello! This behavior  was reproduced on several IPhones

ср, 19 янв. 2022 г. в 17:46, greymag ***@***.***>:

[2022-01-20 14:20] greymag commented on #67
Duplicate of #57

[2022-01-20 14:24] greymag commented on #61
Hey! Sorry for the late reply, somehow I missed this issue. Is the problem still relevant?

[2022-01-20 14:28] greymag commented on #65
Hey!

The plugin purpose is just log in with Facebook account and get some basic information for displaying in the app.

If you want do something more complex you should do it yourself. You can implement methods for making requests to the GraphAPI as an [extension method](https://dart.dev/guides/language/extension-methods) or just making graph api request with http or dio as I suggest [here](https

[2022-01-20 14:28] #65 closed

[2022-01-20 15:16] greymag commented on #68
Just checked: works fine and in single session and after close/reopen an app several times. May be there are some specific conditions? Can you check if the bug exist with example project from this plugin?

[2022-01-30 22:37] YuriNagy01 opened #69 "Allow user link"
Facebook, created new the credential used for see client timeline.

Credential name is user_link. I'm add a new credential.

[2022-01-31 14:56] greymag commented on #69
Merged #70

[2022-02-15 14:30] greymag commented on #47
No answer, so I'm closing the issue for now. Feel free to open it if error still exist.

[2022-02-15 14:30] #47 closed

[2022-02-15 15:31] greymag commented on #55
Support for Client Access Token added in [v1.3.0](https://pub.dev/packages/flutter_login_facebook/versions/1.3.0)

[2022-02-15 15:31] #55 closed

[2022-02-17 14:06] greymag commented on #51
@vytautas-pranskunas- @Sergioc013 Can you check last version? I updated Android SDK

[2022-02-17 14:17] Sergioc013 commented on #51
I was able to fix the error, there was a problem with the hash keys. Although I was generating them correctly with the Windows command, it didn't work for me, so I tried running the Linux command, and it generated some new keys with which the Facebook login did work.

[2022-02-17 14:50] greymag commented on #30
Fully remove support of android embedding v1 since [1.4.0](https://pub.dev/packages/flutter_login_facebook/versions/1.4.0).
Note added in Readme.

[2022-02-17 14:50] #30 closed

[2022-02-17 14:50] greymag commented on #59
Removed in [1.4.0](https://pub.dev/packages/flutter_login_facebook/versions/1.4.0)

[2022-02-17 14:50] #59 closed

[2022-02-17 14:52] greymag commented on #51
Thanks for the answer!

[2022-02-18 06:46] phantom1511 opened #71 "How to get phone number if user was logged in with phone number ?"
I have a question how do i get phone number if user was logged in with phone number, i need it to send in to server cause there are some situations when user logged in with phone number and and i can't send data cause there is null

[2022-02-18 06:54] greymag commented on #71
Hey! As far as I know - you can't. Facebook had this permission in past, but removed it.

[2022-02-18 07:07] phantom1511 commented on #71
@greymag

[2022-02-18 07:09] greymag commented on #71
I understood what you said, the answer still - you can't =)

When user logged with Facebook account in your app, all you have for authentication is token from FB. Any other information: email, name, phone - it's just additional profile information. Some you can get, some you can not. If you require user's email/phone in your app and Facebook doesn't provide it, you should request if from user in y

[2022-02-25 15:05] #71 closed

[2022-04-30 23:31] dev4jam opened #72 "Upgrade iOS FB SDK"
Could you please upgrade iOS FB SDK version to 13?

[2022-05-02 06:21] greymag commented on #72
Hi! Sure, I'll take a look

[2022-05-03 06:15] sanket2798 opened #73 "Update Android / IOS fB SDK to 13"
can you pls update the FB SDK version to 13

[2022-05-04 12:30] KuldeepAIP commented on #51
i am facing the same issue and i have generated development and release hash key and added in Facebook app settings but still i am getting this error with Facebook app while working fine with Web.

[2022-05-20 00:22] fullflash opened #74 "AccountManagerUtils: Only a single account of type com.facebook.auth.login is expected"
we are getting error on logcat unable to signing with facebook

`AccountManagerUtils: Only a single account of type com.facebook.auth.login is expected, but 5 account found`

[2022-05-26 02:19] ririlya94 opened #75 "Changing the text modal permission to open facebook"
Hi,

Does anyone know to change the text "Runner" to the app name instead? Without changing the project name

![image](https://user-images.githubusercontent.com/11284989/170401859-064d3965-c15b-4bcd-b862-19deaa60b214.png)

[2022-05-26 06:10] greymag commented on #75
Hey! You need to change app name in in Info.plist https://greymag.medium.com/flutter-how-to-change-app-name-on-ios-291f510cb058

[2022-05-26 06:10] #75 closed

[2022-05-30 07:28] sanket2798 commented on #73
@greymag hey!! any update on this??

[2022-05-30 13:22] greymag commented on #73
Hey! Sorry, I was pretty busy. I will try do it in the near future

[2022-06-06 08:11] sanket2798 commented on #73
@greymag pls can you do this ASAP because we use this plugin in our project and FB continuously send email to us...

[2022-06-07 15:36] greymag commented on #72
[v1.5.0](https://pub.dev/packages/flutter_login_facebook/versions/1.5.0)

[2022-06-07 15:36] greymag commented on #73
[v1.5.0](https://pub.dev/packages/flutter_login_facebook/versions/1.5.0)

[2022-06-07 15:36] #73 closed

[2022-06-07 15:38] greymag commented on #74
Hey! Sorry for a late response. Do you use express log in? Or you get this error even if use regular log in?

[2022-06-08 07:29] PerLycke opened #76 "Getting accessToken never returns in latest update causing some bad issues"
https://github.com/Innim/flutter_login_facebook/blob/3314600fd3da6643a3070f4aa2aada75a9ed58ef/lib/src/facebook_login.dart#L34

The linked function never returns after updating to plugin version 1.5.0 causing severe issues (e.g. you won't get a result from isLoggedIn).

I see your code changes just imply updating the underlying FB SDK. Did they make changes in the SDK you need to update accordingly

[2022-06-08 07:31] greymag commented on #76
Hey! On which platform?

[2022-06-08 07:34] PerLycke commented on #76
Oops, sorry should've included that info. I found the issue using a Samsung, Android 12 and my doctor output is the following:

[2022-06-08 08:54] greymag commented on #76
Just checked - all working well.

Do you made previous [migration](https://github.com/Innim/flutter_login_facebook/blob/master/UPGRADE.md#android)?
Is there any errors in logcat?

[2022-06-08 10:50] PerLycke commented on #76
That's it. Missed the most recent migration 👍

[2022-06-08 10:50] #76 closed

[2022-06-09 10:27] YuliyaKarima opened #77 "Migrate from 0.13.4 to 0.15.0 - isLoggedIn returns false in next session"
Hello!
I migrated from 0.13.4 to 1.4.1, and on iOS we have issue with isLoggedIn method that returns false in the next after log in session.
Debugging this method returns null token value after app starts:

Future<bool> get isLoggedIn async {
    final token = await accessToken;
    if(token != null){
      print("is logged in access token: " + token.toString());
      print(token.expires);

[2022-06-09 11:14] greymag commented on #77
Did you add `FacebookClientToken` as it described in [UPGRADE.md](https://github.com/Innim/flutter_login_facebook/blob/master/UPGRADE.md#upgrade-to-13)?

[2022-06-09 11:17] YuliyaKarima commented on #77
Yes, I've added this field
![image](https://user-images.githubusercontent.com/30199599/172834725-4cc663a1-730d-48f1-958f-328c8cee241c.png)

[2022-06-09 12:07] greymag commented on #77
I'll try to reproduce it, let's check if I get it right:
- open an app
- login via Facebook
- login successful, has token
- close an app
- open an app
- trying to get access token - returns null

Right?

[2022-06-09 12:21] YuliyaKarima commented on #77
Yes, this is the correct sequence of steps

Additionally, there is a code snippet of log in using the plugin and a screen record of app usage with a moment when isLoggedIn returns false

var facebookLoginResult = await fb.logIn(permissions: [
        facebook.FacebookPermission.publicProfile,
        facebook.FacebookPermission.email,
      ]);
      Map<String, String> result = Map();
      switc

[2022-06-09 22:09] GaoWhitebird opened #78 "Error is coming after pod update"
Swift Compiler Error (Xcode): Cannot find type 'Permission' in scope
/.pub-cache/hosted/pub.dartlang.org/flutter_login_facebook-1.5.0/ios/Classes/SwiftFlutterLoginFacebookPlugin.swift:192:70

Swift Compiler Error (Xcode): Cannot find 'Permission' in scope
/.pub-cache/hosted/pub.dartlang.org/flutter_login_facebook-1.5.0/ios/Classes/SwiftFlutterLoginFacebookPlugin.swift:49:57

Swift Compiler Error (

[2022-06-10 06:02] greymag commented on #78
Hey. Which Xcode version do you use?

[2022-06-10 06:35] GaoWhitebird commented on #78
XCode version is 13.4

[2022-06-10 06:49] greymag commented on #78
Try:
- `flutter clean`
- open `/ios` in Xcode and select Product -> Clean build folder

If this doesn't fix a problem - try to delete `example/ios/Podfile.lock` and run app again.

Please let me know if any of this helps.

[2022-06-10 07:01] GaoWhitebird commented on #78
I have tried several times but result is the same.
Just try this and it is working.
I removed ^ and reimport.

flutter_login_facebook:  1.4.1

in pubspec.yaml file.

[2022-06-10 07:08] greymag commented on #78
So previous version working, but last one doesn't. That's very odd, I checked it before release. Let me check again and I'll come back to you.

[2022-06-10 08:46] daltoncabrera commented on #78
Hello guys, I'm facing same issue, with XCode 13.4 on mac mini M1.

Regards.

[2022-06-10 16:56] GaoWhitebird commented on #78
@daltoncabrera

you can try this.

flutter_login_facebook: 1.4.1

without ^

[2022-06-11 13:29] daltoncabrera commented on #78
Thank you @GaoWhitebird , that made the trick.

[2022-06-13 13:20] desmeit opened #79 "Edit FB App if App not published yet"
How can I add IOS and Android in Facebook App if the app is not published yet?
I need to do an app confirmation with app-ads.txt but it does not work as long as the app is not in the store.

[2022-06-13 15:26] greymag commented on #78
@daltoncabrera this doesn't fix the problems - you just use an old version.

I just checked again with a latest version on a clean project - all works fine.

@daltoncabrera @GaoWhitebird do you have Swift as a default language in your project? (you can check AppDelegate)

[2022-06-14 22:10] fleoparra commented on #78
Same problem here. I use Mac M1 with XCode 13.4.1

Version 1.4.1 works fine.

[2022-06-15 06:16] greymag commented on #78
@fleoparra do you have Swift as a default language in your project? (you can check AppDelegate)

[2022-06-15 15:04] fleoparra commented on #78
@greymag Yes, my AppDelegate is in swift. In my case for a while my project works on debug without problems with the new version but when I try to build for release: `flutter build ios --release` the project show me the error.

[2022-06-17 04:10] expertdev-designer commented on #78
Any Solution for the issue, I have the same issue unable to build for iOS. Any Update

[2022-06-17 06:32] greymag commented on #78
@expertdev-designer please downgrade to 1.4 for now, I'm still trying to resolve it

[2022-06-17 06:59] kapilmobikul commented on #78
@greymag any update on this issue?
 still facing this issue while building iPA

Flutter/sdk/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_login_facebook-1.5.0/ios/Classes/SwiftFlutterLoginFacebookPlugin.swift:193:71: Cannot find type 'Permission' in scope

[2022-06-17 07:01] GaoWhitebird commented on #78
@expertdev-designer

you can try this.

flutter_login_facebook: 1.4.1

without ^

[2022-06-17 09:48] kapilmobikul commented on #78
@expertdev-designer
tried your given solution
flutter_login_facebook: 1.4.1

but still same issue

[2022-06-17 12:48] nicolobozzato commented on #78
@kapilmobikul you downgrade the version but if it gives you still this error
`Flutter/sdk/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_login_facebook-1.5.0/ios/Classes/SwiftFlutterLoginFacebookPlugin.swift:193:71: Cannot find type 'Permission' in scope`

related to version 1.5.0 it probably means that your project didn't receipt the update of version, clean do a flutter clean, clean the cach

[2022-06-17 15:47] greymag commented on #78
@fleoparra @daltoncabrera @expertdev-designer @GaoWhitebird Just published [1.5.0+1](https://pub.dev/packages/flutter_login_facebook/versions/1.5.0+1). Please, check if the issue was fixed or not

[2022-06-17 23:41] GaoWhitebird commented on #78
It is working now. Thanks. I will close this.

[2022-06-17 23:41] #78 closed

[2022-06-20 13:55] nicolobozzato opened #80 "Infinite loop for IOS user with native Facebook app and not logged on Safari"
Many users have this problem: they remain stuck in an infinite loop between webview and the request to log in with their Facebook app.
This happened usually if they are not logged in on Safari.

My guess is that this refers to the 5th paragraph of the IOS implementation instruction

https://developers.facebook.com/docs/facebook-login/ios?locale=en_US

Especially I think it could be the part linked

[2022-06-24 11:42] greymag commented on #80
Hey. Do you have `SceneDelegate` in your app?

[2022-06-27 08:06] nicolobozzato commented on #80
Hi! Thank you for the answer, no in my app I don't have a SceneDelegate. Sorry if my guess doesn't make sense. What do you think could be the problem?

[2022-06-30 07:29] nicolobozzato commented on #80
I found the solution. The problem was the implementation of the package
flutter-braintree
that has this issue
https://github.com/pikaju/flutter-braintree/issues/122

Thanks for the attention,the bug can be closed

[2022-06-30 07:29] #80 closed

[2022-07-04 10:15] AK47-23 opened #81 "can I do the embedded signup for facebook through this plugin?"

[2022-07-04 15:09] guilhermeagostinelli opened #82 "Execution issue on iOS"
The following execution error is happening right after the app is started:

[code]

Plugin version: 1.5.0+1
Facebook SDK version: 14.0.0
XCode version: 13.4.1
Device: iPhone X emulator (iOS 15.5)

[2022-07-06 17:31] giovannilima262 opened #83 "Login not work in IOS"
`
     ...
     fbLoginResult ??= await _facebookLogin.logIn(
        permissions: [FacebookPermission.email],
      );
      ...
`

**Current state:** When calling the login function facebook, the modal opens normally and when going through the authentication screens I am redirected to the first facebook screen and nothing else happens.

**Expected state:** After the last authentication confirmat

[2022-07-07 15:44] greymag commented on #83
Hey.

Can you, please, upload a video?

[2022-07-07 17:09] giovannilima262 commented on #83
When clicking on the blue button it stays in a loop and returns to the same screen

https://user-images.githubusercontent.com/22526617/177830797-52e5e383-ceaf-4a30-ba52-b7f35e2afcf1.mov

[2022-07-07 20:00] guilhermeagostinelli commented on #82
Yes, unfortunately it didn't work :/

What has worked so far was going to my app's target on XCode > Build Phases and then under "Link Binary with Libraries" replacing the Facebook SDK Swift packages with the Pod ones.

Not sure if will cause any side effects though.

[2022-07-07 20:01] #82 closed

[2022-07-08 01:25] mero-jung commented on #83
same here..

[2022-07-08 06:09] greymag commented on #82
And where did the  Swift packages Facebook SDK come from in the first place?

[2022-07-08 16:03] greymag commented on #83
That's not good at all =) I'll take a look. You can downgrade to 1.4 version for now

[2022-07-11 15:22] greymag commented on #83
Hm, I can't reproduce it, all works fine:

https://user-images.githubusercontent.com/1502131/178295922-e4ef46d8-4461-4a40-b1a4-2f757913765f.MP4

@giovannilima262 Can you provide a minimal example of project that don't works?

[2022-07-12 12:55] giovannilima262 commented on #83
https://github.com/darwin-morocho/flutter-facebook-auth/issues/263#issuecomment-1180779334

[2022-07-12 12:56] giovannilima262 commented on #83
[solution](https://github.com/darwin-morocho/flutter-facebook-auth/issues/263#issuecomment-1180779334)

[2022-07-12 12:57] #83 closed

[2022-08-22 09:00] chhily commented on #51
Hey! as in 08-22-2022, I facing the same problem. I already config everything according to doc.

[2022-08-24 11:14] rsegecin commented on #51
Hi, you guys can open the Flutter generated android project on Android Studio and run its code from there to get logcat and see log details. I was just facing the same issue as it turns out at the beginning of this year facebook SDK 13 started to demand a Client Token see [Client Access Tokens](https://developers.facebook.com/docs/facebook-login/guides/access-tokens) so as I updated my App I had t

[2022-08-24 15:50] #51 closed

[2022-09-18 10:58] gjrjf opened #84 "App Transparency Tracking (ATT)"
hello.
I updated the plugin to the latest version, tried updating ios but got the following message:

<blockquote type="cite" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transfo

[2022-10-11 08:24] onatcipli commented on #19
I'm getting the same error (`FacebookSdk.sdkInitialize()`), I just upgraded our project version to `3.3.3` also upgraded `flutter_login_facebook` plugin version to `^1.6.0`

Do you have some specific things to fix this issue?  @varundroid

[code]

[2022-10-12 09:17] kamxy commented on #19
same issue

[2022-10-13 06:08] onatcipli commented on #19
I just get over this issue by adding the following code to `android/app/src/main/AndroidManifest.xml`

[code]

especially, `ClientToken` one. you may read again the [getting started part again for migration](https://pub.dev/packages/flutter_login_facebook)

hope it helps!

[2022-10-13 06:23] greymag commented on #19
Also check [UPGRADE.md](https://github.com/Innim/flutter_login_facebook/blob/master/UPGRADE.md) when updating the version.

[2022-10-16 07:48] fkoosan commented on #77
When I create a build apk in Android Studio and install it on Android OS12,

[code]

The above message is displayed and the status is
FacebookLoginStatus. error
becomes.

I thought it might have something to do with you, so I messaged you.

[2022-10-28 08:24] inTao opened #87 "make sure to call FacebookSdk.sdkInitialize() first."
Error registering plugin flutter_login_facebook, ru.innim.flutter_login_facebook.FlutterLoginFacebookPlugin
                                                                                                    The SDK has not been initialized, make sure to call FacebookSdk.sdkInitialize() first.
                                                                                                    	at c

[2022-10-29 08:22] rainlover457 opened #88 "BUG: It gives wrong position when you tapping on anywhere on the Arabic app with Arabic Android"
There is something wrong with this dependency when you use it on Arabic app with Arabic Android.

- flutter_login_facebook: ^1.6.1

- This happens to Arabic Android users: from your phone settings, change the Android language to Arabic.

- Here is a video for this issue: https://drive.google.com/file/d/1wsMGfCc4wwr15s-YE4j9R8MyzDDjRhkg
**Please Note:** This is just an example, but this issue happe

[2022-10-31 11:14] rlaheri99 opened #89 "Failed to list versions for com.facebook.android:facebook-login"
My project was working fine till tomorrow now I'm getting this error in my all projects which have `facebookLogin`.

- **pubspac.yaml**

    flutter_login_facebook: ^1.6.0

- **compileSdkVersion**

        compileSdkVersion 33

- **minSdkVersion**

       minSdkVersion 20

- **repositories**

       repositories {
                google()
                mavenCentral()
            }

- **dependenc

[2022-10-31 11:18] savadmv commented on #89
Same situation here. Correcting the mistake.Replacing 'Tomorrow ' with 'Yesterday'

[2022-10-31 11:51] #89 closed

[2022-11-01 03:34] rlaheri99 commented on #89
Thank you for the timely update it works like a charm.

[2022-11-01 08:19] bhoominn opened #90 "Facebook Login not working when Facebook app is installed, Working when the app is not installed in Flutter"
Getting This Error in Flutter App.

**Login Error: There is an error in logging you into this application. Please try again later.**

Device info:
Android 12

Can anyone help with this?

[2022-11-03 04:57] bhoominn commented on #90
Anyone here?

[2022-11-03 14:49] #90 closed